*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: #edeef2;
  color: #113f67;
}

body {
  line-height: 1.5;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.root {
  padding: 1rem 2rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header svg {
  transform: translateY(-10px);
  width: 3rem;
  fill: #113f67;
}

h1 {
  margin-bottom: 1rem;
}

.drop-container {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23113f67' stroke-width='4' stroke-dasharray='14%2c 11' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 1rem;

  cursor: pointer;
}

.drop-container.disable {
  background-image: none;
  cursor: default;
}

.drop-label {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.drop-label-text {
  font-size: 2rem;
}

.drop-label-error {
  color: #ff5353;
}

.drop-label-text.hide {
  display: none;
}

.retry-btn {
  cursor: pointer;
  outline: 0;
  display: none;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #ff5353;
  border-color: #ff5353;
}

.error-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.retry-btn:hover {
  color: #fff;
  background-color: #ff5353;
  border-color: #ff5353;
}

.retry-btn.show {
  display: inline-block;
}

.from-fu {
  display: flex;
  justify-content: right;
  gap: 0.25rem;
  margin-top: 0.75rem;
  color: #8895a1;
}

.from-fu svg {
  width: 1rem;
  fill: #8895a1;
}

.fail {
  transform: translateY(-20px);
}

.spinner {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}

.spinner.show {
  display: inline-block;
}

.spinner div {
  position: absolute;
  border: 4px solid #113f67;
  opacity: 1;
  border-radius: 50%;
  animation: spinner 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.spinner div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes spinner {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
